name: Auto-Close Issues

on:
  issues:
    types:
      - labeled

jobs:
  auto-close-issues:
    runs-on: ubuntu-latest
    if: github.event.label.name == 'wontfix' || github.event.label.name == 'completed'
    steps:
      - name: Close Issue
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              state: 'closed'
            })
